

input[type="button"] {
    margin-top: 20px;
}
.node {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display:inline-block;
    transition: all 1000ms ease;
}

.activated {
    box-shadow: 0px 0px 3px 2px rgba(194, 255, 194, 0.8);
}

.progress-divider {
    height: 40px;
    width: 2px;
    margin-left: 4px;
    transition: all 800ms ease;
     position: relative;

}

li p {
    display:block;
    margin-left: 25px;
}
li .progress-detail{
   position: absolute;
    top: 0;
    z-index: 100;
    width: 500px;
}

li {
    list-style: none;
    line-height: 1px;
}

.green{ background-color: rgba(92, 184, 92, 1); }
.grey { background-color: rgba(201, 201, 201, 1); }